@media (max-width:760px){
  body.home .card{flex-direction:column;text-align:center;align-items:center;min-height:215px;}
  body.home .card-txt{flex:0 0 auto;}
  .card h2{font-size:1.2rem;}
  .card p{font-size:.78rem;}
  .card .btn{margin-top:8px;white-space:nowrap;}
}
